<div id="user-creation-container">
  <form name="user-creation" action="/users" method="post">
    <input type="text" name="new_user[first_name]" placeholder="First Name" value="<%= @user.first_name %>"><br />
    <input type="text" name="new_user[last_name]" placeholder="Last Name" value="<%= @user.last_name %>"><br />
    <input type="text" name="new_user[email]" placeholder="Email" value="<%= @user.email %>"><br />
    <input type="text" name="new_user[username]" placeholder="Username" value="<%= @user.username %>"><br />
    <input type="password" name="new_user[password]" placeholder="Password"><br />
    <input type="submit" name="submit" value="Create Account">
    <% unless @user.errors.empty? %>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message.gsub(/hash/, "") %></li>
        <% end %>
      </ul>
    <% end %>
  </form>
</div>
