  <% if vote_type == 'upvote' %>
    <a href="<%= route %>/<%= vote_type %>" class="<%= vote_type %> <%= question.upvoted_by_current_user?(current_user) ? 'colorme' : '' %>">
      Upvote
    </a>
    <!-- <img src="/fire.png" alt="Fire!"> -->
  <% else %>
    <a href="<%= route %>/<%= vote_type %>" class="<%= vote_type %> <%= question.downvoted_by_current_user?(current_user) ? 'colorme' : '' %>">
      Downvote
    </a>
    <!-- <img src="/ice.png" alt="Fire!"> -->
  <% end %>

<!-- need to specify locals: {vote_type: (upvote || downvote)} -->
